*.hf
eqtl_nucleotide_transformer_finetune
*.tsv
*.fa
*.fa.fai
tarpit
__pycache__
tarpit
*.pickle
venv
wandb
.python-version
.env
model_cache
.*.sw?
checkpoint
data
*.png
*.svg
.ipynb_checkpoints
*_cache
.DS_Store
sequest
doi-cache
litan
